:root{
    --dark-green: #d2e8d8;
    --light-green: rgb(242,254,245);
}

body{
    display: flex; 
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.background{
    width: 35%;
    height: 100%;
}

.page-name{
    height: 80px;
    width: 35%;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 25%;
    text-align: center;
}
h2{
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

img{
    width: max(400px, 100%);
    height: auto;
}

.container{
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--light-green);
}

h1{
    font-size: 24px;
}

.mini-container{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    background-color: white;
    justify-content: space-evenly;
    box-shadow: 0px 3px 5px gray;
    padding: 12px 24px;
}

legend{
    font-size: 20px;
    font-weight: bold;
}

fieldset{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    border: none;
    gap: 10%;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input{
    border: 1px solid gray;
    border-radius: 4px;
}

input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
}

button{
    width: 160px;
    height: 36px;
    background-color: var(--dark-green);
    padding: 4px 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 5px gray;
    margin: 0;
}

p{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.form-head{
    height: 25vh;
    padding: 24px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

.form-foot{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
}